@using WebApplication1.Models
@using Microsoft.AspNet.Identity
@model WebApplication1.Models.RegistrerVarroeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">

        @if (Request.IsAuthenticated)
        {
            <div id="SensorApp">
                <div>
                    <b-table striped hover :fields="['Sensorid','LokationsId','CreatedBy','Træart','Lat', 'Lon']" :items="sensors"></b-table>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="~/js/sensor.js"></script>
}